@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
  color: rgb(0, 0, 0);
  background: linear-gradient(120deg, #c19090, #f9d6d5, #e3b0b0);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.cards-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.detalles {
  background: linear-gradient(120deg, #c19090, #eebbbb, #d7a5a5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
  padding: 20px;
  width: 300px;
  text-align: center;
  flex-shrink: 0;
}

.icono {
  margin-bottom: 10px;
}

.icono img, .icono video {
  width: 50%;
  border-radius: 10px;
}

.detalles h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detalles h2, .detalles h3 {
  margin: 10px 0;
}

.detalles button {
  background: linear-gradient(120deg, #c19090, #eebbbb, #d7a5a5);
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 8px rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
}

.detalles button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  transition: left 0.5s ease-in-out;
}

.detalles button:hover::before {
  left: 100%;
}

.detalles button:hover {
  background: linear-gradient(120deg, #d7a5a5, #f9d6d5, #f6c8c7);
  color: black;
}