.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.contenido {
  padding: 20px;
}

codigo-container {
  transition: opacity 0.3s ease-in-out;
}

.codigo-container.hidden {
  opacity: 0;
}

.App {
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
  visibility: hidden;
  
}

.App.visible {
  opacity: 1;
  visibility: visible;
}

body {
  color: rgb(0, 0, 0);
  background-color: #d9cddf
}